body {
    max-width: 100%; 
    margin: 70px; 
    padding: 20px; 
   
}
nav{
    margin-left: 90px;
}
.logo{
    width: 140px;
    height:150px;
    margin-top: -130px;
    margin-bottom:-60px;
    margin-left: -100px;
}
nav ul li{
    display: inline;

}
header nav ul li a{
    text-decoration: none;
    padding: 30px;
    color:plum;
    font-size: 25px;
    font-family: verdana;
}
header nav ul li a:hover{
    color: purple;
    cursor: pointer;
}
button {
    padding: 10px 8px; 
    border: plum; 
    background-color: plum; 
    color: white; 
    cursor: pointer;
    border-radius: 5px; 
    display: inline;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 2px;
    
}

button:hover {
    background-color: plum;
    
}
#search-input {
    width: 200px; 
    padding: 12px; 
    font-size: 18px; 
    border: 2px solid plum ;
    border-radius: 5px; 
    background-color: #E6E6FA; 
    color: #333;
    margin-left: 20px;
    margin-bottom: 20px;
 
}
header ul li form{
    display: inline;
}

#search-form button::before {
    content: "\1F50D";
    font-size: 22px;
}
#debut{
font-size: 20px;
font-family: 'Baskerville', serif;
color: purple;
}
footer{
    border:40px plum;
    background-color: rgb(148, 65, 148);
    margin-left: 0px;
}
footer ul li{
    list-style-type: none;
}


#chii{
    width:200px;
    height:180px;
    margin-left: 450px;
    margin-top: -400px;
    margin-bottom: 20px;
   
}

.icon-text{
    width:20px;
}
.chat{
    margin-left:50px;
    color:plum;
    margin-top: -23px;
    white-space: nowrap;
   
}
#cho{
   padding-top: 20px;
}
.iconn-text{
    width: 40px;
   
}
#a{
    margin-left: 940px;
    color:#d2dae0;
    margin-top:-210px;
    margin-bottom: 40px;
    font-size: 20px;
}
#cit{
    margin-left: 1000px;
    margin-top: -47px;
 

}
#cot{
    margin-left: 1060px;
    padding-bottom: 90px;
    margin-top:-48px ;

}
#cat{
   margin-left: 940px;
   margin-top: -18px;
}
#chut{
    font-size: 20px;
}
#premi{
    width: 1230px;
    height: 400px;
    margin-left: 40px;
    margin-top: 10px;
}

#chit{
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:purple;
    padding-left: 40px;
}
#chot{
    padding-left: 40px;
    font-size:20px;
}
#carot{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 500px;
    color:rgb(80, 231, 180);
}
#sot{
    width:420px;
    height:370px;
    margin-top:-30px;
}
#sit{
    width:250px;
    height:250px;
    margin-left: 100px;
    margin-bottom: 40px;
}
#sut{
    width:200px;
    height:260px;
    margin-left: 260px;
    margin-bottom: 52px;
}
#chol{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 55px;
}
#chal{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 500px;
    margin-top:-48px;
}
#chil{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1000px;
    margin-top: -48px;
}
.acheter-btn {
    background-color: white;
    color: #6a0dad;
    font-size: 20px;
    border: none;
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 110px;
}

.acheter-btn:hover {
    background-color: #e6e6fa;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}
.moi{
    font-size: 25px;
}
.acheter-bti{
    background-color: white;
    color: #6a0dad;
    font-size: 20px;
    border: none;
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 240px;
    margin-right: 270px;
}
.acheter-btu{
    background-color: white;
    color: #6a0dad;
    font-size: 20px;
    border: none;
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    margin-bottom:-50px;
    margin-top: -120px;
    margin: 20px;
    margin-right:-100px;
}
.acheter-bti:hover {
    background-color: #e6e6fa;
}
.acheter-btu:hover {
    background-color: #e6e6fa;
}
#chove{
    margin-top: -30px;
}
h3{
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:purple;
    padding-left: 40px;
}
.black{
    margin-left: 40px;
}
h4{
    font-size:30px ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(80, 231, 180);
    margin-left: 1000px;
    margin-top: -450px;
    padding-bottom: 450px;

}
#loli{
    font-size: 20px;
    margin-left: 1000px;
    margin-top:-480px ;
    padding-bottom:200px ;
    text-align: justify;
}
