body {
    max-width: 100%; 
    margin: 70px; 
    padding: 20px; 
   
}
nav{
    margin-left: 90px;
}
.logo{
    width: 140px;
    height:150px;
    margin-top: -130px;
    margin-bottom:-60px;
    margin-left: -100px;
}
nav ul li{
    display: inline;

}
header nav ul li a{
    text-decoration: none;
    padding: 30px;
    color:plum;
    font-size: 25px;
    font-family: verdana;
}
header nav ul li a:hover{
    color: purple;
    cursor: pointer;
}
button {
    padding: 10px 8px; 
    border: plum; 
    background-color: plum; 
    color: white; 
    cursor: pointer;
    border-radius: 5px; 
    display: inline;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 2px;
    
}

button:hover {
    background-color: plum;
    
}
#search-input {
    width: 200px; 
    padding: 12px; 
    font-size: 18px; 
    border: 2px solid plum ;
    border-radius: 5px; 
    background-color: #E6E6FA; 
    color: #333;
    margin-left: 20px;
    margin-bottom: 20px;
 
}
header ul li form{
    display: inline;
}

#search-form button::before {
    content: "\1F50D";
    font-size: 22px;
}
#debut{
font-size: 20px;
font-family: 'Baskerville', serif;
color: purple;
}
footer{
    border:40px plum;
    background-color: rgb(148, 65, 148);
    margin-left: 0px;
}
footer ul li{
    list-style-type: none;
}


#chii{
    width:200px;
    height:180px;
    margin-left: 450px;
    margin-top: -400px;
    margin-bottom: 20px;
   
}

.icon-text{
    width:20px;
}
.chat{
    margin-left:50px;
    color:plum;
    margin-top: -23px;
    white-space: nowrap;
   
}
#cho{
   padding-top: 20px;
}
.iconn-text{
    width: 40px;
   
}
#a{
    margin-left: 940px;
    color:#d2dae0;
    margin-top:-210px;
    margin-bottom: 40px;
    font-size: 20px;
}
#cit{
    margin-left: 1000px;
    margin-top: -47px;
 

}
#cot{
    margin-left: 1060px;
    padding-bottom: 90px;
    margin-top:-48px ;

}
#cat{
   margin-left: 940px;
   margin-top: -18px;
}
#chut{
    font-size: 20px;
}
#premi{
    width: 1230px;
    height: 400px;
    margin-left: 40px;
    margin-top: 10px;
}
